<<<<<<< HEAD
*html{
  box-sizing: border-box;
}
body{
  padding:1em;

}
.show{

  border:solid 1px black;
  width:100%;
  height:80px;
}
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
>>>>>>> b857cba1c10c8d60f6aa67e6074d6c0a719d1dbb
